.programmes{
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
}

.program-bg {
    position: relative;
    background: linear-gradient(120.64deg, rgba(71, 122, 235, 0.8) 15.77%, rgba(11, 40, 104, 0.8) 44.85%, rgba(138, 53, 197, 0.8) 96.03%), url(../assets/program.png) no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.program-area{
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 991px){
    .custom-gallery #event-img{
        height: 300px;
    }
}
