.footer{
    background: #DF2D2D;
    padding: 2rem;
    color: #FFFFFF;
    width: 100%;
    overflow: hidden;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
}


.vertical-line{
    box-sizing: border-box;
    border-right: 2px solid #FFFFFF;
    max-height: 30px;
    margin-top: -5px;
    margin-left: .5rem;
    margin-right: .5rem;
}

@media screen and (max-width: 767px){
    .footer-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .vertical-line{
        max-height: 30px;
        margin-top: -5px;
        margin-left: .5rem;
        margin-right: .5rem;
    }
    
}